/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.BackBtn{
	-fx-background-color:white;
	-fx-background-image: none;
	-fx-border-width: 3;
	-fx-border-color: grey;
	-fx-border-radius:40;
}
.BackBtn:hover{
	-fx-background-color:grey;
	-fx-text-fill: white;
	-fx-background-radius:40;
	-fx-background-image: none;
	-fx-border-width: 3;
	-fx-border-color: grey;
	-fx-border-radius:40;
}
.CloseBtn{
	-fx-background-color:white;
	-fx-background-image: none;
	-fx-border-width: 3;
	-fx-border-color: grey;
	
}

.CloseBtn:hover{
	-fx-background-color:grey;
	-fx-background-image: none;
	-fx-border-width: 3;
	-fx-border-color: grey;
	-fx-text-fill: white;
}